*{
    padding: 0;
    margin: 0;
}

/* font famaly */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    background: #FFFFFF;
    padding: 20px 18px 16px 28px;
    border-radius: 5px;
    margin-top: 21px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    width: 125px;
    height: 46px;
    
}
.top-payears{
    margin-bottom: 36px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 23px;
    
}
.player {
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.same-h3{
    margin-left: 10px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 20px;

}


/*----------------
            Top blogs styles
------------ */
.title-blog{
    width: 103px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
    margin-bottom: 20px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 28px;
}
.blog{
    display: flex;
    
}

.thumbail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-info-h3{
    width: 164px;
    height: 68px;
    font-size: 20px;
    line-height: 34px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    width: 125px;
    height: 24px;
}



/*--------------
          Lates course styles--
---------------- */
.course-title{
    color: #562EFF;
    font-size: 24px;
    width: 225px;
    height: 56px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    
}
.course{
    width: 252.42px;
    height: 269.79px;
    box-shadow: 5px 53px 34px #F3F1FF;
    border-radius: 10px;

}

.course-thumbnail img{
    width: 224px;
    height: 104px;
}

.course-datails h2{
    font-size: 20.0336px;
    line-height: 23px;
    color: #1E1E1E;
    margin-top: 7px;
    font-family: 'Roboto';
}

.course-datails h3{
    font-size: 20.0336px;
    line-height: 23px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #1E1E1E;
    width: 103px;
    height: 23px;
    margin-bottom: 5px;

}

.course-datails p{
   width: 99.48px;
   height: 17.36px;
   color: #ED6B4F;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 14.6913px;
   line-height: 17px;
   margin-bottom: 8px;
}

.course-info{
    display: flex;
    justify-content: space-between;
}
.fa-star.filed{
    color: #FFC014;
}
.fa-star.emtry{
    color: #AEAEAE;
}

.course-duration{
    background: #FEE5DF;
    border-radius: 14.6913px;
    width: 95px;
    height: 30px;
    
    
}
.course-duration a{
    color: #ED6B4F;
    height: 17px;
    width: 17px;
    margin-left: 7px;
}
.course-duration span{
    color: #ED6B4F;
    font-weight: 600;
   font-size: 14.6913px;
    line-height: 29px;
}


/*----------------------
          @media quary responsive-
------------------- */




@media screen and (max-width:688px){
    
    .container{
        width: 100%;
    }
    
   .players, .blogs, .courses{
    
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
   }
   .player{
    flex-direction: column;
    
   }
  .section-title{
    margin-left: 20px;
  }

  .title-blog{
    margin-left: 20px;
  }
  .course-title{
    margin-left: 20px;
  }
  .course{
    margin-left: 100px;
  }

   .blog{
    flex-direction: column;
    align-items: center;
   }   
}



@media screen and (min-width:688px) and (max-width:992px){


    .container{
        width: 100%;
    }
    .section-title{
        margin-left: 20px;
    }
  .players, .courses{
    grid-template-columns: repeat(2, 1fr);
    margin-left: 33px;
  }
  .blogs{
    grid-template-columns: repeat(1, 1fr);
  }
  .blog{
    justify-content: center;
  }
  .title-blog{
    margin-left: 20px;
  }
    
}


/*--------------
        calender style-
------------------ */
.cont{
    width: 887px;
}
 .calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    column-gap: 15px;
    row-gap: 20px;
    grid-template-rows: 40px repeat(5, 100px);
} 

.date, .day{
    background-color: lightblue;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.other-month{
    background-color: #D1D1D1;
}
.font{
    font-size: 34px;
    color: orange;
    margin-bottom: 20px;
}

/* //------------------
        calender responsivenes-
------------------------ */

@media screen and (max-width:688px){
    
    .cont{
        width: 100%;
    }
    .calender{
        grid-template-columns: repeat(7, 1fr);
        margin-top: 40px;
    }
    
}

@media screen and (min-width:688px) and (max-width:982px){
    
    .cont{
        width: 100%;
    }
   .calender{
    grid-template-columns: repeat(7, 1fr);
   }
}